.HomeView {
    text-align: center;
  }
  
  .HomeView-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .HomeView-header {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  

  p{
      color: black;
  }
  